@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    margin: 7px;
    padding: 0;
    border: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    margin: auto;
}

hr {
    border: 5px solid #012A36;
}

.page-break {
    margin: 20px;
    padding-bottom: 200px;
}

.page-break-second {
    margin: 20px;
    padding-bottom: 600px;
}

/* header */

h2 {
    font-family: Italianno, sans-serif;
    font-size: xxx-large;
    letter-spacing: 3px;
    color: #7E52A0;
}

#logo {
    text-decoration: none;
    float: left;

}

#logo a {
    text-decoration: none;
}

/* Navigation bar */

#navigation li {
    float: right;
    list-style-type: none;
    letter-spacing: 3px;
    color: #7E52A0;
    padding-top: 10px;
}

#navigation a {
    text-decoration: none;
    color: #7E52A0;
}

#navigation a:hover {
    color: #012A36;
    border-bottom: 2px solid #012A36;
}

.active {
    border-bottom: 2px solid #7E52A0;
}

/*Main image*/

.main-image {
    height: 550px;
    width: 100%;
    background: url('../images/Cookie-cutter.jpg') no-repeat center center;
    clear: both;
    object-fit: cover;
    background-color: #29274C;
}


/* Class Time section*/

#middle {
    background-color: #7E52A0;
    color: whitesmoke;
    height: 550px;
    width: 95%;
    margin: auto;
}

.right-side {
    float: right;
    width: 60%;
    margin: 20px 0 20px 0;
    display: block;
}

.right-side h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: xx-large;
    letter-spacing: 3px;
    color: whitesmoke
}

.left-side {
    float: left;
    width: 40%;
    margin: 0 0 20px 0;
    display: block;
}

#table {
    float: right;
    margin: 0 0 20px 0;
    align-self: start;
    display: block;
}

th,
tr {
    border: 2px solid #012A36;
    padding: 5px;
}

#kids-cooking {
    width: 450px;
    height: 500px;
    float: left;
    object-fit: cover;
    border: 5px solid #7E52A0;
}


/* Enquiry form section */

#third-section {
    display: block;
    text-align: center;
}

.enquiry-form {
    border: 1px solid #BBA4CD;
    color: rgb(54, 53, 53);
    background-color: rgba(187, 164, 205, 0.5);
    max-width: 500px;
    padding: 5px 10px;
    display: inline-block;

}

.input {
    background-color: white;
    border: 1px solid #012A36;
    width: 90%;
    height: 20px;
    margin: 10px 0 30px 0;
    padding: 5px;
    resize: none;
}

#submit-button {
    border-radius: 2px;
    background-color: #F59F00;
    color: black;
    text-align: center;
    padding: 15px 30px;
    font-size: medium;
    cursor: pointer;
}

#submit-button:hover {
    border: #012A36;
    background-color: #7E52A0;
    color: white;
}

/*Footer*/

footer {
    margin-top: 50px;
    height: 200px;
    padding-top: 5px;

}

footer h2 {
    text-align: center;

}

.social {
    text-align: center;
    font-size: x-large;

}

.social>li {
    text-decoration: none;
    display: inline;
    color: whitesmoke;

}

.fab {
    color: #F59F00;
    font-size: xx-large;
}

.fab:hover {
    color: #7E52A0;
    cursor: pointer;
}

#fas {
    color: #F59F00;
    font-size: xx-large;
}

#fas:hover {
    color: #7E52A0;
    cursor: pointer;
}

/*Recipes page styling*/

#heading {
    margin-top: 50px;
    font-family: "Italianno", sans-serif;
    font-size: xxx-large;
    letter-spacing: 3px;
    color: #7E52A0;
}

#brownie {
    width: 500px;
    height: 550px;
    float: left;
    object-fit: cover;
    border: 5px solid #012A36;
}

#method {
    float: right;
    width: 32%;
    margin: 1px;
}

#ingredients {
    float: left;
    width: 32%;
    margin: 2px;
    line-height: 40px;
    text-align: center;

}

#image {
    float: left;
    width: 33%;
    margin: 0px 10px 20px 0px;
}

#ingerdients,
ul {
    list-style-type: none;
}

.button {
    background-color: #29274C;
    width: 300px;
    height: 50px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    margin: 0px;
    padding-top: 16px;
    padding-left: 18px;
    display: inline-block;
}

.iframe {
    width: 600px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*About page*/

.h3 {
    font-family: "Amatic SC", sans-serif;
    font-size: xxx-large;
    letter-spacing: 3px;
    color: #7E52A0;
    text-align: center;
    margin: 35px 0px;
}

#teacher {
    width: 500px;
    height: 500px;
    float: left;
    object-fit: cover;
    border: 5px solid #012A36;
}

#about-me {
    font-size: large;
    float: right;
    width: 55%;
    margin: 0 50px 20px 0;
    display: block;
    line-height: 30px;
}

#left-side-section {
    float: left;
    width: 40%;
    margin: 0 0 20px 0;
    display: block;
}

#experience {
    width: 100%;
    overflow: hidden;
}

#experience div {
    color: #fafafa;
    background-color: #7E52A0;
    width: 45%;
    height: 250px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 25px solid white;
    line-height: 25px;

}

#experince,
h3 {
    color: whitesmoke;
    font-size: large;
    font-family: Roboto, sans-serif;
}

.link {
    color: #F59F00;
}

/* Gallery */

#gallery {
    line-height: 0;
    column-count: 3;
    column-gap: 25px;
}

#gallery>img {
    width: 100%;
    height: auto;
}


/*Media Queries*/
@media screen and (max-width: 1300px) {
    #navigation {
        float: left;
        clear: left;
        list-style-type: none;
        letter-spacing: 1px;
    }

    #middle {
        width: 60%;
        height: 1200px;
        margin: auto
    }

    .left-side,
    .right-side {
        width: 100%;
        float: left;
        padding: 0;
    }

    #kids-cooking {
        clear: both;
        width: 70%;
        padding: 0;
        margin: 5px 80px;
    }

    .footer {
        height: 200px;
        padding-top: 5px;

    }

    footer h2 {
        text-align: center;

    }

    .social {
        text-align: center;
        font-size: x-large;

    }

    #image {
        width: 33%;
        height: 600px;
        margin: auto
    }

    #method,
    #ingredients {
        width: 100%;
        float: right;
        padding: 0;
    }

    #brownie {
        clear: both;
        width: 600px;
        height: 500px;
        padding: 0;
        margin: 5px 130px;
    }

    .button {
        background-color: #29274C;
        width: 300px;
        height: 50px;
        color: whitesmoke;
        cursor: pointer;
        font-size: 20px;
        margin: 0px;
        padding-top: 16px;
        padding-left: 18px;
        display: inline-block;
    }

    .iframe {
        width: 50%;
    }

    #teacher {
        width: 500px;
        height: 500px;
        margin: auto
    }

    #about-me {
        width: 100%;
        float: left;
        padding: 0;

    }

    #gallery {
        clear: both;
        column-count: 2;
    }
}

/*Media quiries for tablet sized screens*/
@media screen and (max-width: 950px) {

    #navigation {
        float: left;
        clear: left;
        margin-left: 0px;
    }

    .main-image {
        width: 100%;
        height: 300px;
    }

    #middle {
        width: 90%;
        height: 1000px;
        text-align: center;
        margin: auto
    }

    .left-side,
    .right-side {
        width: 100%;
        float: left;
        padding: 0;
    }

    #kids-cooking {
        clear: both;
        width: 80%;
        padding: 0;
        margin: 5px 30px;
    }

    .footer {
        height: 100px;
        padding-top: 5px;

    }

    footer h2 {
        text-align: center;
        margin: auto;


    }

    .social {
        text-align: center;
        font-size: large;

    }

    /*The following code was helped with by CI tutors*/

    #image {
        float: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: auto;
    }

    #method,
    #ingredients {
        width: 100%;
        float: right;
        padding: 0;
    }

    #brownie {
        clear: both;
        width: 500px;
        height: 400px;
        padding: 0;
        margin: 5px 50px;
    }

    .button {
        background-color: #29274C;
        width: 300px;
        height: 50px;
        color: whitesmoke;
        cursor: pointer;
        font-size: 20px;
        margin: 0px;
        padding-top: 16px;
        padding-left: 18px;
        display: inline-block;
    }


    .iframe {
        width: 50%;
    }

    .social {
        text-align: center;
        font-size: x-large;
    }

    .h3 {
        font-family: "Amatic SC", sans-serif;
        font-size: x-large;
        letter-spacing: 3px;
        color: #7E52A0;
        text-align: center;
        margin: 35px 0px;
    }

    #teacher {
        width: 500px;
        height: 500px;
        margin: auto
    }

    #about-me {
        width: 100%;
        float: left;
        padding: 0;
    }

    #experience>div {
        width: auto;
        height: 210px;
        padding: 0;
        float: none;
    }

    #gallery {
        clear: both;
        column-count: 2;
    }
}

/* media queries for mobile*/

@media screen and (max-width:650px) {

    header {
        top: 0;
    }

    #navigation {
        float: left;
        clear: left;
        line-height: 1px;
        font-size: xx-small;
    }

    .main-image {
        display: none;
    }

    #middle {
        width: 100%;
        height: 1050px;
        margin-top: 180px;
    }

    .left-side,
    .right-side {
        width: 100%;
        float: left;
        padding: 0;
    }

    #kids-cooking {
        clear: both;
        width: 80%;
        height: 250px;
        padding: 0;
        margin: 5px 30px;
    }

    .input {
        background-color: white;
        border: 1px solid #012A36;
        width: 100%;
        height: 20px;
        margin: 10px 0 30px 0;
    }

    .footer {
        height: 100px;
        padding-top: 5px;

    }

    footer h2 {
        text-align: center;
        font-size: x-large;
        margin: 0px;

    }

    #heading {
        font-size: x-large;
        letter-spacing: 1px;
    }

    #image {
        width: 33%;
        height: 5px;
        margin: 1px;
        display: block;
    }

    #ingredients {
        width: 100%;
        float: right;
        padding: 0;
        margin-top: 50px;
        font-size: medium;
    }

    #method {
        width: 100%;
        float: right;
        padding: 0;
        font-size: medium;
    }

    #brownie {
        clear: both;
        width: 250px;
        height: 250px;
        padding: 0;
        margin: 5px 8px;
    }

    .button {
        background-color: #29274C;
        width: 300px;
        height: 50px;
        color: whitesmoke;
        cursor: pointer;
        font-size: 20px;
        margin: 0px;
        padding-top: 16px;
        padding-left: 18px;
        display: inline-block;
    }


    .iframe {
        width: 100%;
    }

    .social {
        text-align: center;
        font-size: x-large;
    }

    .button {
        width: 200px;
        height: 80px;
        color: whitesmoke;
        margin-top: 60px;
        cursor: pointer;
    }


    #logo {
        font-size: xx-large;

    }

    .h3 {
        font-family: "Amatic SC", sans-serif;
        font-size: large;
        letter-spacing: 3px;
        color: #7E52A0;
        text-align: center;
        margin: 140px 0px 10px;
    }

    #teacher {
        width: 250px;
        height: 250px;
    }

    #about-me {
        width: 100%;
        float: left;
        padding: 0;
    }

    #gallery {
        clear: both;
        column-count: 1
    }
}

/* Media Query for small mobile devices*/

@media screen and (max-width:350px) {
    #middle {
        width: 100%;
        height: 1085px;
        margin-top: 180px;
    }
}